* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}
.container {
  background-size: cover;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-style: italic;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  padding: 20px;
}
.para {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
}
.para1 {
  font-size: 15px;
  color: #cbd5e1;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}
.button-section {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button1 {
  background-color: #0b69ff;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}
.button2 {
  margin-left: 10px;
  background-color: black;
  color: #94a3b8;
  border-color: #94a3b8;
  border-radius: 5px;
  padding: 10px;
}
img {
  width: 40%;
}
